.eventpage-container {
  background: #000;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.eventpage-hero img {
  width: 300px;
  height: 300px;
  margin-top: 7%;
}

.eventpage-hero h1 {
  color: rgb(0, 0, 0);
  font-size: 3rem;
  font-family: "Bruno Ace SC", cursive;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.eventpage-section {
  background-image: url(../../../assets/images/events/best.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.75;
}

.eventpage-description {
  display: flex;
  flex-direction: row;
  padding: 2rem 5rem;
}

.eventpage-description-left {
  display: flex;
}

.eventpage-description-left h2 {
  height: max-content;
  width: max-content;
  color: white;
  text-transform: uppercase;
  background-color: #007690;
  padding: 0.5rem 3rem;
  clip-path: polygon(0% 0%, 84% 0%, 100% 100%, 0% 100%);
}

.eventpage-description-left img {
  width: 200px;
  height: 200px;
}

.eventpage-description-left .text-clip {
  width: 78.5px;
  height: 40px;
  margin-left: -20px;
  background-color: #007690;
  clip-path: polygon(0% 0%, 55% 0%, 100% 100%, 45% 100%);
}

.eventpage-description-right p {
  background: #00000040;
  color: var(--pure);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  word-spacing: 10px;
  padding: 1rem;
}

.register-btn {
  padding: 0.8rem;
  margin: 0 auto;
  width: max-content;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  cursor: pointer;
  background: linear-gradient(
    to right,
    rgba(192, 13, 192, 0.818),
    rgba(15, 15, 212, 0.878)
  );
}

.event-contact-details {
  display: flex;
  padding: 2rem 4rem;
  text-align: center;
  justify-content: center;
}

.register-btn a {
  color: var(--pure);
  text-decoration: none;
}

.upper-register {
  background: #000000b5;
  font-size: 1rem;
  letter-spacing: 0.4rem;
  padding: 1rem 2rem;
  margin-top: 5%;
}

.contact-me {
  margin: 0 auto;
  padding: 2rem 5rem;
}

.contact-me h5 {
  color: var(--pure);
  background-color: #00000066;
  padding: 1rem;
}

.registration-form {
  display: flex;
  justify-content: center;
  align-items: center;
}


.active-form{
  display: none;
}


.registration-form::-webkit-scrollbar {
  display: none;
}

/* ************* Individual pages background ********/

.lst {
  background: url("../../../assets/images//events/laser.jpg");
  background-size: cover;
  background-repeat: no repeat;
  background-position: center center;
}

.enfs {
  background: url("../../../assets/images/events/nfs.png");
  background-size: cover;
  background-repeat: no repeat;
  background-position: center center;
}

.sld {
  background: url("../../../assets/images/events/sherlock.jpg");
  background-size: cover;
  background-repeat: no repeat;
  background-position: center center;
}

.echess {
  background: url("../../../assets/images/events/chess.png");
  background-size: cover;
  background-repeat: no repeat;
  background-position: center center;
}

.eart {
  background: url("../../../assets/images/events/eart.jpg");
  background-size: cover;
  background-repeat: no repeat;
  background-position: center center;
}

.webq {
  background: url("../../../assets/images/events/web.jpg");
  background-size: cover;
  background-repeat: no repeat;
  background-position: center center;
}

.bmb {
  background: url("../../../assets/images/events/bombdiffusion1.jpg");
  background-size: cover;
  background-repeat: no repeat;
  background-position: center center;
}

.cld {
  background: url("../../../assets/images/events/ctd.png");
  background-size: cover;
  background-repeat: no repeat;
  background-position: center center;
}

@media only screen and (max-width: 480px) {
  .eventpage-container {
    overflow-x: hidden;
  }

  .eventpage-description {
    flex-direction: column;
    padding: 2rem;
  }

  .eventpage-description-left img {
    margin-left: -250px;
    margin-top: 50px;
  }

  .eventpage-description-right p {
    font-size: 0.8rem;
  }

  .contact-me {
    padding: 2rem;
  }
}
