nav{
  display: block;
  min-height: 100vh;
}

.navbar {
  display: flex;
  position: fixed;
  top: 0;
  margin-left: 1rem;
  z-index: 2;
  min-height: 200vh;
  transition: top 0.3s ease;
}

.nav-items {
  text-align: center;
  justify-content: center;
  justify-items: center;
  margin-left: 200px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
}

.nav-brand {
  margin:1rem;
  --border-size: 50px;
  --border-angle: 0turn;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-image: conic-gradient(
      from var(--border-angle),
      #213,
      #112 50%,
      #213
    ),
    conic-gradient(from var(--border-angle), transparent 20%, #08f, #f03);
  background-size: calc(100% - (var(--border-size) * 2))
      calc(100% - (var(--border-size) * 2)),
    cover;
  background-position: center center;
  background-repeat: no-repeat;
  animation: bg-spin 3s linear infinite;
}

.mmmut-logo {
  margin: 16px 16px 0 220px;
  --border-size: 50px;
  --border-angle: 0turn;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-image: conic-gradient(
      from var(--border-angle),
      #213,
      #112 50%,
      #213
    ),
    conic-gradient(from var(--border-angle), transparent 20%, #08f, #f03);
  background-size: calc(100% - (var(--border-size) * 2))
      calc(100% - (var(--border-size) * 2)),
    cover;
  background-position: center center;
  background-repeat: no-repeat;
  animation: bg-spin 3s linear infinite;
}

@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

.nav-brand img {
  margin-top:5px;
  margin-left:5px;
  border-radius: 50%;
}

.mmmut-logo img {
  margin-top: 5px;
  margin-left:5px;
  border-radius: 50%;
}

/* Menu Dropdown */
.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

.menu,
.submenu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu {
  /* margin: 50px auto; */
  width: 800px;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}

.menu > li {
  background: linear-gradient(0deg, #0deaf60c 0%, #0deaf66e 100%);
  box-shadow: inset 2px 2px 5px #0decf6; 
  float: left;
  position: relative;
  transform: skewX(25deg);
  backdrop-filter: blur(16px);
}

.menu a {
  display: block;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.menu li:hover {
  background: linear-gradient(0deg, #0deaf600 0%, #0deaf61d 100%);
}

.menu > li > a {
  transform: skewX(-25deg);
  padding: 0.7rem 2rem;
}

/* Dropdown */
.submenu {
  position: absolute;
  width: 200px;
  left: 50%;
  margin-left: -100px;
  transform: skewX(-25deg);
  transform-origin: left top;
}

.submenu li {
  position: relative;
  overflow: hidden;
}

.submenu > li > a {
  padding: 1em 2em;
}

.submenu > li::after {
  content: "";
  position: absolute;
  top: -125%;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.9);
}

.submenu > li:nth-child(odd) {
  transform: skewX(-25deg) translateX(0);
}

.submenu > li:nth-child(odd) > a {
  transform: skewX(25deg);
}

.submenu > li:nth-child(odd)::after {
  right: -50%;
  transform: skewX(-25deg) rotate(3deg);
}

.submenu > li:nth-child(even) {
  transform: skewX(25deg) translateX(0);
}

.submenu > li:nth-child(even) > a {
  transform: skewX(-25deg);
}

.submenu > li:nth-child(even)::after {
  left: -50%;
  transform: skewX(25deg) rotate(3deg);
}

/* Show dropdown */
.submenu,
.submenu li {
  opacity: 0;
  visibility: hidden;
}

.submenu li {
  transition: 0.2s ease transform;
}

.menu > li:hover .submenu,
.menu > li:hover .submenu li {
  opacity: 1;
  visibility: visible;
}

.menu > li:hover .submenu li:nth-child(even) {
  transform: skewX(25deg) translateX(15px);
}

.menu > li:hover .submenu li:nth-child(odd) {
  transform: skewX(-25deg) translateX(-15px);
}
