.eventPage-container {
  background: #000000 url("../../assets/images/events/bgevent.jpg");
  color: white;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.events-landing {
  position: relative;
  height: 100vh;
  color: white;
}
.eventpage-section{
  padding-bottom: 4rem;
}

.events-items {
  position: absolute;
  top: 10%;
  width: 70%;
  padding: 1rem;
}

.events-items img {
  width: 1024px;
}

.robo-para{
  margin-top:4rem;
  margin-left:2rem;
}

.rc-robot {
  position: absolute;
  bottom: 0;
  right: 0;
}

.btn-robomania {
  color: #ff0000;
  background: #fff;
  margin:2rem 4rem;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0.4rem 4rem;
  display: inline-block;
  transform: skew(15deg);
}

.btn-robomania > span {
  display: inline-block;
  transform: skew(-15deg);
}

.landing-details {
  display: flex;
  position: absolute;
  bottom: 4rem;
  left: 2rem;
}

.landing-icons {
  margin-right: 2rem;
  padding: 1rem;
}

.rb-events {
  position: relative;
  min-height: 100vh;
  padding: 6rem;
  margin-top: 5rem;
}

.rb-events h2 {
  z-index: 2;
  font-family: "Asul", sans-serif;
  font-size: 8rem;
  text-decoration: solid;
  text-transform: uppercase;
  font-weight: 800;
  color: var(--glow-color);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: #000;
  -webkit-text-stroke-width: 0.3rem;
  text-shadow: 1px 5px 15px var(--glow-color);
}

.events-btn {
  position: absolute;
  bottom: 20%;
  left: 40%;
  background-color: transparent;
  width: 100px;
  height: 100px;
  border: 0.2rem solid var(--glow-color2);
  border-radius: 50%;
  padding: 1.4rem;
  -webkit-box-shadow: inset 0px 0px 0.3rem 0px var(--glow-color2),
    0px 0px 0.5em 0px var(--glow-color);
  -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color2),
    0px 0px 0.5em 0px var(--glow-color);
  box-shadow: inset 0px 0px 0.5em 0px var(--glow-color2),
    0px 0px 0.5em 0px var(--glow-color2);
}

.events-btn a {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: 500;
  color: var(--pure);
}

.events-btn:hover{
  background-color: #060a24ce;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.events-btn .laser-btn{
  /* animation: circle 6s linear infinite; */
}

.register-btn{
  padding: 1rem;
}


@keyframes circle{
  100%{
    transform:rotate(360deg);
  }
}

.rs-text {
  position: absolute;
  left: 10%;
  top: 0%;
}

.ls-img {
  position: absolute;
  right: 10%;
  top: 20%;
  border-width:8px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      var(--glow-color), 
      rgba(0, 0, 0, 0)
    )1 100%;
}

.ls-text {
  position: absolute;
  right: 10%;
  top: 20%;
}

.rs-img {
  position: absolute;
  left: 10%;
  top: 15%;
  border-width:8px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to top, 
      var(--glow-color), 
      rgba(0, 0, 0, 0)
    )1 100%;
}


.rcevent-img{
  width:55%;
  height:60%;
}


/*************************************************************************** */


@media only screen and (max-width: 480px) {
  .eventPage-container {
    overflow-x: hidden;
  }


  .btn-robomania{
    display: none;
  }
  
  .rc-robot {
    width: 100%;
    height: 65%;
    bottom: 59px;
  }

  .rb-events h2 {
    font-size: 3rem;
    color: var(--glow-color);
    -webkit-text-stroke-width: 0.12rem;
    text-shadow: 1px 2px 9px var(--glow-color);
  }

  .ls-img {
    width: 80%;
    height: 40%;
  }

  .events-btn {
    bottom: 32%;
    left: 55%;
  }

  .rs-img {
    width: 80%;
    height: 40%;
  }

  .ls-text {
    margin: 0 auto;
    top: 0;
  }
  
  
  .events-items {
    position: absolute;
    top: 9%;
    width: 100%;
    padding: 1rem;
  }

  .landing-details {
    display: none;
  }

  .events-items img {
    width: 100%;
  }

  .events-items p {
    display: none;
  }

}
