.workshopPage-container {
  background: #000 url('../../assets/images/general/bg_event.jpg');
}

.workshopPage-container h1{
  font-size: 3rem;
  text-align: center;
  color:var(--grey);
  padding:2rem;
}

.workshop-content{
  display: flex;
  flex-direction: row;
  padding:2rem 5rem;
}

.workshop-rightcontent{
  margin-left:4rem;
  color:var(--pure);
  font-size: 1.5rem;
}

/* **************************************************************** */

@media only screen and (max-width: 480px) {
  .workshop-content{
    flex-direction: column;
  }
  
}