body{
    background: #000;
    background-size:cover;
    background-repeat: no-repeat;
    
}

.team-card{
    /* background: url('../../assets/images/image.jpg'); */

}

.team-card > .container{
    padding:4rem 0;
    padding-left: 3rem;
    margin-left:4rem;
    display: inline-block;
    text-align: center;
    justify-content: center;
    justify-items: center;
}


.team-heading {
    padding-top:2rem;
    color: white;
    display: block;
    text-align: center;
    color: #bbb;
    font-size: 2rem;
    text-transform: capitalize;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 2px blue;
}








/*  Card Styles  */

.container .card
{
    width: 300px;
    height: 400px;
    /* margin:30px; */
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}

.container .card .content
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.7;
    transition: 0.5s;
}

.container .cardcnt:hover .content
{
    opacity: 1;
    transform: translateY(-30px);
}


.container .card .content .imgBx
{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 6%;
    overflow: hidden;
    border: 5px solid rgba(0, 0, 0, 0.25);
}

.container .card .content .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    object-fit: cover;
}

.container .card .content .contentBx h3
{
    color: #fff;
    text-transform: uppercase;
    Letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;
}

.container .card .content .contentBx h3 span
{
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;
}

.container .card .sci
{
    position: absolute;
    bottom: 50px;
    display: flex;
}

.container .card .sci li
{
    list-style: none;
    margin: 0 10px;
    transform: translateY(40px);
    transition: 0.5s;
    opacity: 0;
    transition-delay: calc(0.1s);
}

.container .card:hover .sci li
{
    transform: translateY(0px);
    opacity: 1;
}

.container .card .sci li a
{
    color: #fff;
    font-size:22px;
}
