@import url('https://fonts.googleapis.com/css2?family=Asul:wght@400;700&family=Open+Sans:wght@400;500&family=Ubuntu:wght@400;500;700&display=swap');

/* font-family: 'Asul', sans-serif;
font-family: 'Ubuntu', sans-serif; */
/* font-family: 'Open Sans', sans-serif; */

*{
  margin:0;
  padding:0;
  box-sizing: border-box;

}

:root{
  --dark: #061924;
  --pure: #fff;
  --light: #2f87a0;
  --grey: #b8cad0;
  --light2: #4c9aab;
  --fade: #2f6c7d;
  --dark2: #0b3045;
  --grey2:#454e53;
  --green: #2a9474;
  --lightg: #0decf6;
  --darkg: #054c47;
  --glow-color: hsl(186 100% 69%);
  --glow-color2: hsl(57, 100%, 69%);
  --glow-color3: hsl(0, 100%, 69%);
  
}

::-webkit-scrollbar {
  display:none;     

}


h1,h2{
  font-family:'Ubuntu', sans-serif;;
  list-style-type: none;
}

h3,h4,h5,p{
  font-family: 'Open Sans', sans-serif;
  list-style-type: none;
}

section{
  min-height: 100vh;
}

html,body{
  scroll-behavior:smooth;
}



/* Mobile Phone */
@media only screen and (max-width: 480px){
  body{
    overflow-x: hidden;
  }
  section{
    width: 100%;
    overflow-x: hidden;
  }
    
}
