.homepage-body{
  background: url('../../assets/images/general/bg_event.jpg');
}

.homepage-section {
  background: url('../../assets/images/general/background.png');
  background-size:cover;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 480px) {
  .homepage-section {
    background: url("../../assets/images/general/bgmobile.png");
    background-position: center center;
    background-size: cover;
  }

}
